---
import { getCollection } from "astro:content";
import { Image } from 'astro:assets';

const worksEntries = await getCollection("works");

import Layout from "@layouts/Layout.astro";
---

<Layout title="Réalisations">
  <main>
    <div>
      <h1>Réalisations</h1>
      <a href="">Voir mon CV</a>
    </div>
    <ul class="work-thumbnails">
      {
        worksEntries.map((worksEntry) => (
          <li class="work-thumbnail">
            <a href={`/works/${worksEntry.slug}`} title={`En savoir plus sur ${worksEntry.data.title}`}>
              <Image src={worksEntry.data.image} alt={worksEntry.data.title} />
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
