<footer class="pt-10 pb-5 text-center text-xs" transition:persist>
  © Tous droits réservés - <span id="copyright"></span> | Audrey Lecuona
</footer>

<script>
  const year = new Date().getFullYear();
  const copyright = document.getElementById("copyright");
  if (copyright) copyright.textContent = year.toString();
</script>
