---
import { ViewTransitions } from "astro:transitions";

import Footer from "@components/Footer.astro";

import "@fontsource/pt-serif/700.css";
import "@fontsource/lato/400.css";
import "@fontsource/lato/700.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="fr">
  <head>
    <ViewTransitions />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} · Audrey Lecuona</title>
    <meta
      name="description"
      content="Développeuse front-end avec une background de webdesigner et formatrice en UX/UI."
    />
    <meta
      name="keywords"
      content="audrey, lecuona, développeuse, front-end, front, end, webdesigner, formatrice, ux, ui, design"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body class="text-primary tracking-widest">
    <main class="min-h-screen">
      <slot />
    </main>
    <Footer />
    <style is:global>
      html {
        color-scheme: light;
        background-color: white;
        overflow-y: auto;
      }

      body {
        font-family: "Lato", system-ui, sans-serif;
      }

      h1 {
        font-family: "PT Serif", serif;
        font-weight: 700;
      }
    </style>
  </body>
</html>
